name: React Vite CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --force

      - name: Run tests
        run: npm run test

      - name: Build app
        run: npm run build

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        run: |
          IMAGE_NAME="us-central1-docker.pkg.dev/new-react-project-483118/docker-repo/vite-antd-demo:latest"
          docker buildx build \
            --platform linux/amd64 \
            --tag $IMAGE_NAME \
            --push \
            .

      - name: Deploy to Google Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: vite-antd-demo
          image: us-central1-docker.pkg.dev/new-react-project-483118/docker-repo/vite-antd-demo:latest
          region: us-central1
          project_id: new-react-project-483118
          flags: '--port=3000 --allow-unauthenticated --platform=managed'