name: React Vite CI/CD

on:
  push:
    branches:
      - dev
      - main

jobs:
  build-and-deploy:
    name: Build, Push Docker Image & Deploy to Cloud Run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --force

      - name: Run tests
        run: npm run test

      - name: Build Vite application
        run: npm run build

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set environment variables (dev / prod)
        run: |
          if [[ "${GITHUB_REF##*/}" == "dev" ]]; then
            echo "ENV=dev" >> $GITHUB_ENV
            echo "SERVICE_NAME=vite-antd-demo-dev" >> $GITHUB_ENV
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
          else
            echo "ENV=prod" >> $GITHUB_ENV
            echo "SERVICE_NAME=vite-antd-demo-prod" >> $GITHUB_ENV
            echo "IMAGE_TAG=prod" >> $GITHUB_ENV
          fi

      - name: Build & push Docker image
        run: |
          IMAGE="us-central1-docker.pkg.dev/new-react-project-483118/docker-repo/vite-antd-demo:${IMAGE_TAG}"

          docker buildx build \
            --platform linux/amd64 \
            -t $IMAGE \
            --push \
            .

      - name: Deploy to Cloud Run (${{ env.ENV }})
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          image: us-central1-docker.pkg.dev/new-react-project-483118/docker-repo/vite-antd-demo:${{ env.IMAGE_TAG }}
          region: us-central1
          project_id: new-react-project-483118
          flags: '--allow-unauthenticated --platform=managed'