name: React Vite CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --force

      - name: Run tests
        run: npm run test

      - name: Build app
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Build Docker image
        run: docker buildx build -t vite-antd-demo platform linux/amd64 .

      - name: List Docker images
        run: docker images

      - name: Deploy to Google Cloud Run
        uses: google-github-actions/deploy-cloud-run@v1
        with:
          service: vite-antd-demo
          image: us-central1-docker.pkg.dev/new-react-project-483118/docker-repo/vite-antd-demo:latest
          region: us-central1
          platform: linux/amd64
          credentials: ${{ secrets.GCP_SA_KEY }}
          args: --port=3000